<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tạo event mới</title>
    <style>
        body{
           height: 100vh;
           width: 100vw;
           margin: 0;
           padding: 0;
           overflow: hidden;
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .root{
            height: 50vh;
            width: 50%;
        }
        p{
            display: flex;
            align-items: start;
        }
        label {
            margin-right: 1rem;
        }
    </style>
</head>

<body>



<div class="root">
    <H1>Tạo sự kiện mới</H1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Thêm event mới</button>
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
</body>
</html>