<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event đã đăng ký</title>
</head>

<body>
    <div class="root">
        <h3>Event bạn đã đăng ký tham gia:</h3>
        {% if user %}
       
        {% if events %}
        {% for event in events %}
        <a href="{% url 'event' id_event=event.id %}">
            {{event.title}}
        </a>
        {% endfor %}
       
        {% endif %}
        {% else %}
        <h1>Vui lòng đăng nhập để sự dụng chức năng này</h1>
        {% endif %}
    </div>
</body>

</html>