<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
       
    </style>
</head>
<body>

    <header>
        <h1>Chào mừng tới admin panel</h1>
    </header>

    <div class="admin-info">
        {% if admin %}
            <p>Chào mừng, {{admin.cccd}}</p>
            <li><a href="/event/list">Tất cả các event đang có</a> </li>
            <li><a href="/event/create">Thêm mới event</a></li>
   
            <li><a href="/user/logout/">Logout</a></li>
        {% else %}
            <p>Welcome, Admin! Bạn chưa đăng nhập.</p>
            <li>Đăng nhập ở đây <a href="/user/login/">login</a></li>
        {% endif %}
    </div>

   


</body>
</html>
